<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/library?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="7890-="/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/example/repository/BookMapper.xml"/>
        <mapper resource="com/example/repository/ReaderMapper.xml"/>
        <mapper resource="com/example/repository/LendReturnMapper.xml"/>
        <mapper resource="com/example/repository/FineMapper.xml"/>
        <mapper resource="com/example/repository/NewsMapper.xml"/>
        <mapper resource="com/example/repository/DelRecordMapper.xml"/>
    </mappers>

</configuration>