<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.BRrecordRepository">
    <insert id="borrow" parameterType="com.example.entity.BRrecord">
        INSERT INTO br_record (id, bid, rid, btime, rtime)
            VALUES (#{id}, #{bid}, #{rid}, #{btime}, #{rtime})
    </insert>
    <update id="returnb">
        UPDATE br_record SET rtime = #{time} WHERE id = #{id}
    </update>
    <select id="findById" parameterType="int" resultType="com.example.entity.BRrecord">
        SELECT * FROM br_record WHERE id = #{id}
    </select>
    <select id="findAll" resultType="com.example.entity.BRrecord">
        SELECT * FROM br_record
    </select>
    <select id="getBNum" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(*) FROM br_record WHERE rid = #{rid} AND rtime = 0
    </select>
    <select id="check" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT rtime FROM br_record WHERE bid = #{bid} ORDER BY btime DESC LIMIT 1
    </select><!--降序取第一列-->
    <select id="getBTime" parameterType="int" resultType="java.lang.Long">
        SELECT btime FROM br_record WHERE id = #{id}
    </select>
</mapper>