<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.FineRepository">
    <resultMap id="FineRecordMap" type="com.example.domain.FineRecord">
        <id column="id"/><!--如果不指定id，当其他所有列有相同的值时重复记录不会加入到结果集中-->
        <result column="amount" property="amount"/>
        <result column="time" property="time"/>
        <association property="record" javaType="com.example.domain.LendReturnRecord">
            <id column="id" property="id"/>
            <result column="bkid" property="bkid" />
            <result column="rid" property="rid"/>
            <result column="btime" property="btime"/>
            <result column="rtime" property="rtime"/>
        </association>
    </resultMap>
    <insert id="insert">
        INSERT INTO fine (id,amount,time) VALUES (#{id},#{amount},0)
    </insert>
    <update id="pay">
        UPDATE fine SET amount = #{amount}, time = #{time} WHERE id = #{id}
    </update>
    <select id="findAll" resultMap="FineRecordMap">
        SELECT f.id, bkid, rid, btime, rtime, amount, time
            FROM fine f, br_record b WHERE f.id = b.id
    </select>
    <select id="sumBy" parameterType="long" resultType="java.lang.Double">
        SELECT SUM(amount) FROM fine WHERE time > #{since}
    </select>
    <select id="check" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM fine f, br_record b WHERE f.id = b.id
            AND rid = #{id} AND (rtime = 0 OR time = 0)
    </select>
</mapper>