<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.LendingRepository">
    <insert id="lend" parameterType="com.example.domain.LendingRecord">
        INSERT INTO lending (id, bkid, rid, btime, rtime)
            VALUES (#{id}, #{bkid}, #{rid}, #{btime}, #{rtime})
    </insert>
    <update id="reTurn">
        UPDATE lending SET rtime = #{time} WHERE id = #{id}
    </update>
    <select id="findById" parameterType="int" resultType="com.example.domain.LendingRecord">
        SELECT * FROM lending WHERE id = #{id}
    </select>
    <select id="findAll" resultType="com.example.domain.LendingRecord">
        SELECT * FROM lending
    </select>
    <select id="getBNum" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(*) FROM lending WHERE rid = #{rid} AND rtime = 0
    </select>
    <select id="resvdBy" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT rid FROM reserve WHERE bkid = #{bkid}
    </select>
    <select id="isLent" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT rtime FROM lending WHERE bkid = #{bkid} ORDER BY btime DESC LIMIT 1
    </select><!--降序取第一列-->
    <select id="getBTime" parameterType="int" resultType="java.lang.Long">
        SELECT btime FROM lending WHERE id = #{id}
    </select>
</mapper>